#top_bar{
    text-align: center;
    font-size: 4rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    margin: 0 auto;
    padding: 70px 0px;
    width: 80%;
    background-image: url(Game_Top.jpg);
    background-size: 320px;
}

body{
    background-color: beige;
}

aside{
    font-size:2em;
}
#home{
    font-size:3rem;
}
.content_background{
    margin: 20px 8%;
    padding: 30% 0px;
    border: 10px solid red;
    height: 20%;
}

.content{
    font-size:2rem;
}

a{
    text-decoration: none;
    color: blue;
}